.settings
target
.classpath
.project
*.log

# IDE files
.project
.classpath
.settings
.idea
*.ipr
*.iml
*.iws
nb-configuration.xml

# KDE
.directory

# OSX
.DS_Store

# filtered resources
src/main/jbake/
